body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 60px; /* Adds margin to avoid overlap */
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Menú de navegación */
nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #4a148c;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav:hover {
    background-color: #6a1b9a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #7b1fa2;
    border-radius: 5px;
    transform: scale(1.05);
}

/* Galería de imágenes */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.galeria .imagen {
    flex: 1 1 300px; /* Allows images to grow and shrink with a base width of 300px */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Prevents images from becoming too large */
    text-align: center; /* Centers the text under images */
}

.galeria img {
    width: 100%; /* Hace la imagen responsiva */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra su contenedor */
    border-radius: 8px;
    transition: transform 0.3s ease; /* Transición suave para el efecto de hover */
}

.galeria img:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al pasar el mouse */
}

/* Estilos para los textos de la galería */
.galeria p {
    margin-top: 10px; /* Adds margin above the paragraph */
    margin-bottom: 10px; /* Adds margin below the paragraph */
    padding: 10px; /* Adds padding inside the paragraph */
    border-radius: 5px; /* Rounded corners for the text box */
    color: white; /* Text color */
}



.galeria p:nth-child(2) {
    background-color: #2196f3; /* Color para el segundo párrafo */
}



@media (max-width: 768px) {
    .galeria {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsividad: Ajustes en dispositivos pequeños */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row; /* Mantiene los enlaces en fila */
        justify-content: space-between; /* Distribuye los enlaces de forma más equitativa */
    }

    nav a {
        padding: 12px 10px;
        font-size: 0.9em;
    }
}